<app-navbar></app-navbar>

<!-- Titulo: Rondas -->
<div class="container-fluid border-bottom border-secondary mt-2">
    <h2 align="center">Rondas</h2>
</div>
<!-- Vista cuando no hay suficientes usurios -->
<div class="container mt-5" *ngIf="mensajeUsuariosInsuficientes">
    <div class="alert alert-danger text-center" role="alert">
        Necesitas al menos 4 usuarios para generar una ronda.
    </div>
    <button type="button" class="btn btn-success btn-block mt-3" (click)="linkUsuarios()">
    Ir a usuarios.
  </button>
</div>

<!-- Vista cuando no existen rondas -->
<div class="container mt-5" *ngIf="mensajeCreaRonda && !mensajeUsuariosInsuficientes">
    <div class="alert alert-info" role="alert">
        Crea una ronda.
    </div>
    <button class="btn btn-success btn-block" (click)="createRonda()">
    Crear Ronda
  </button>
</div>

<!-- Vista cuando existen rondas -->
<div class="container" *ngIf="!mensajeCreaRonda">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="mensajeCrearRonda">
        <strong>No Se Pudo Crear Ronda</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mensajeCrearRonda = false">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="mensajeBorrarRonda">
        <strong>No Se Pudo Eliminar Ronda</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mensajeBorrarRonda = false">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Fecha Inicial</th>
                        <th scope="col">Fecha Final</th>
                        <th scope="col">Activa</th>
                    </tr>
                </thead>
                <tbody *ngFor="let ronda of rondas">
                    <tr>
                        <td>{{ ronda.id }}</td>
                        <td>{{ ronda.fecha_inicio }}</td>
                        <td>{{ ronda.fecha_final }}</td>
                        <td *ngIf="ronda.activa"><fa-icon [icon]="faCheck"></fa-icon></td>
                        <td *ngIf="!ronda.activa"><fa-icon [icon]="faTimes"></fa-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-4 p-3">
            <form (submit)="createRonda()">
                <!-- Vista cuando no hay suficientes usurios -->
                <div class="container mt-5" *ngIf="(rondas.length >= 5)">
                    <div class="alert alert-info" role="alert">
                        Sólo puedes crear un máximo de 5 rondas a la vez
                    </div>
                </div>
                <button class="btn btn-success btn-block p-3" *ngIf="((!mensajeUsuariosInsuficientes) && (rondas.length < 5))">
                    Crear Ronda
                </button>
                <button type="button" class="btn btn-danger mt-3" (click)="deleteRonda()">
                    Eliminar Última Ronda
                </button>
            </form>
        </div>
    </div>
</div>