<!-- Titulo: Registrar nuevo usuario -->
<div class="container-fluid border-bottom border-secondary mt-2">
    <h2 align="center">Registrar nuevo usuario</h2>
</div>

<!-- Boton de retorno -->
<div class="container-fluid mt-3 ml-3">
    <button type="button" class="btn btn-secondary" (click)="linkBack()">Regresar</button>
</div>

<div class="content p-lg-5">
    <br /><br />
    <div class="mt-1 container border col-lg-6 bg-white pb-2">
        <br />
        <div class="container text-center">

            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="mensajeRegistro">
                <strong>No Se Pudo Registrar Usuario</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mensajeRegistro = false">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="mensajeInvalido">
                <strong>Campo Inválido</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mensajeInvalido = false">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form [formGroup]="RegistroForm" class="text-center" (ngSubmit)="singin(nombre.value, pass.value, copass.value)">
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || (event.charCode === 32)" formControlName="usuario" maxlength="15" class="form-control" required #nombre />
                    <div class="alert-danger" *ngIf="usuario.errors && (usuario.dirty || usuario.touched)">
                        <div class="container-fluid" *ngIf="usuario.errors.required">
                            Nombre de usuario requerido
                        </div>
                        <div class="container-fluid" *ngIf="usuario.errors.minlength">
                            Al menos 4 carácteres de longitud
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <div class="input-group">
                        <input type="password" maxlength="15" class="form-control" formControlName="password" required #pass/>

                    </div>
                    <div class="alert-danger" *ngIf="password.errors && (password.dirty || password.touched)">
                        <div class="container-fluid" *ngIf="password.errors.required">
                            Contraseña requerida
                        </div>
                        <div class="container-fluid" *ngIf="password.errors.minlength">
                            Al menos 8 carácteres de longitud
                        </div>
                        <div *ngIf="password.errors.pattern">
                            La contraseña debe contener al menos 8 carácteres, una letra mayúscula y un número
                        </div>
                    </div>

                    <label for="password">Repite la contraseña</label>
                    <div class="input-group">
                        <input type="password" maxlength="15" class="form-control" formControlName="copassword" required #copass/>

                    </div>
                    <div class="alert-danger" *ngIf="copassword.errors && (copassword.dirty || copassword.touched)">
                        <div class="container-fluid" *ngIf="copassword.errors.required">
                            Confirmación de contraseña requerida
                        </div>
                        <div class="container-fluid" *ngIf="copassword.errors.minlength">
                            Al menos 8 carácteres de longitud
                        </div>
                        <div class="container-fluid" *ngIf="copassword.errors.checkPasswords">
                            Las contraseñas deben coincidir
                        </div>
                    </div>


                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Registrar
                </button>
            </form>
        </div>
    </div>
</div>