<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Titulo: Equipos -->
<div class="container-fluid border-bottom border-secondary mt-2">
    <h2 align="center">Equipos</h2>
</div>

<!-- Alertas -->
<div class="container mt-3">
    <div class="alert alert-danger" *ngIf="mensajeError">
        ¡Existen fechas sobrepuestas!
    </div>

    <div class="alert alert-success alert-dismissible" *ngIf="mensajeEnviado">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="mensajeEnviado = false">&times;</a>
        Envio exitoso.
    </div>
</div>

<!-- Lista de equipos -->
<div class="container mt-3">
    <ul class="list-group">
        <!--Encabezado de la lista-->
        <li class="list-group-item bg-secondary">
            <div class="row row-cols-3">
                <!-- Columna de fecha -->
                <div class="col">Fecha</div>
                <!-- Columna de integrantes -->
                <div class="col">Integrantes</div>
                <!-- Columna de recetas -->
                <div class="col">Recetas</div>
            </div>
        </li>
        <!-- Cuerpo de la lista -->
        <li class="list-group-item" *ngFor="let equipo of equiposArr; index as i;">
            <div class="row row-cols-3">
                <!-- Columna de fecha -->
                <div class="col">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                            {{fechasArr[i]}}
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let fechasEquipo of equiposArr">
                                <button type="button" class="btn" (click)="modFechasArr(i,fechasEquipo.nombre)">{{fechasEquipo.nombre}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Columna de integrantes -->
                <div class="col">{{equipo.integrantes_nombres[0]}} y {{equipo.integrantes_nombres[1]}}</div>
                <!-- Columna de recetas -->
                <div class="col">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let receta of equipo.recetas_nombres">
                            {{receta}}
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- Boton de guardar -->
<div class="container mt-3 ml-auto">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary btn-block" (click)="linkRondas()">
                Ir a Rondas
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success btn-block" (click)="envioCambios()">
                Guardar fechas modificadas
            </button>
        </div>
    </div>
</div>