<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Titulo: Ronda actual -->
<div class="container-fluid border-bottom border-secondary">
    <h2 align="center">Lista de compras</h2>
</div>

<!-- Mensajes -->
<div class="alert alert-warning" role="alert" *ngIf="mensajeIngredientes">
    No hay ingredientes activos aun.
</div>

<!-- Cuerpo de la pagina -->
<div class="container mt-5 " *ngIf="!mensajeSinRecetas">
    <!-- Instrucciones -->
    <h4 class="ancho">Lista de ingredientes para {{nUsuarios}} personas.</h4>
    <div class="ancho">
        <div class="btn-group mt-3 " role="group">
            <button type="button" class="btn btn-danger" (click)="restarUsuarios()">
            <fa-icon [icon]="faMinus"></fa-icon>
        </button>
            <button type="button" class="btn btn-success" (click)="sumarUsuarios()">
            <fa-icon [icon]="faPlus"></fa-icon>
        </button>
        </div>
    </div>
    <!-- Lista de compras -->
    <ul class="list-group mt-3 ancho">
        <!--Encabezado de la lista-->
        <li class="list-group-item bg-secondary">
            <div class="row">
                <!-- Columna de ingrediente -->
                <div class="col encabezado">Receta</div>
                <!-- Columna de cantidad -->
                <div class="col encabezado">Cantidad</div>
                <!-- Columna de unidad -->
                <div class="col encabezado">Unidad</div>
            </div>
        </li>
        <!-- Cuerpo de la lista -->
        <li class="list-group-item" *ngFor="let ingrediente of ingredientesArr; index as i;">
            <div class="row">
                <!-- Ingrediente -->
                <ul class="col pl-2 text-center">
                    {{ingrediente.nombre}}
                </ul>
                <!-- Cantidad x n -->
                <ul class="col pl-2 text-center">
                    {{ingrediente.cantidad}}
                </ul>
                <!-- Unidad -->
                <ul class="col pl-2 text-center">
                    {{ingrediente.unidad}}
                </ul>
            </div>
        </li>
    </ul>

</div>