<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Titulo: Usuarios -->
<div class="container-fluid border-bottom border-secondary mt-2">
    <h2 align="center">Usuarios</h2>
</div>
<!-- Mensaje de alerta no menos de 4 usuarios-->


<!-- Lista de usuarios -->
<div class="container row">
    <!-- Izquierda -->
    <div class="mt-4 ml-5 text-center row-cols col-5">
        <!-- Buscador -->
        <form action="" class="form-inline text-center">
            <input class="form-control mr-sm-2" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)" (keyup)="ngOnInit(Bus.value)" type="search" maxlength="15" #Bus placeholder="Buscar">
            <button class="btn btn-outline-secondary my-2 my-sm-0 mr-sm-2" type="submit">Buscar</button>
        </form>
        <br>
        <!-- Lista de usuarios -->
        <ul class="list-group">
            <!--Encabezado de la lista-->
            <li class="list-group-item bg-secondary">
                <div class="row ">
                    <!-- Columna de integrantes -->
                    <div class="col pl-2 text-center">Nombre</div>
                    <!-- Columna de acciones -->
                    <div class="col pl-2 text-center">Acciones</div>
                </div>
            </li>
            <div class="alert alert-danger" role="alert" *ngIf="(usuariosarr.length <= 0)">
                No se encontraron coincidencias
            </div>
            <!-- Cuerpo de la lista -->
            <li class="list-group-item" *ngFor="let equipo of usuariosarr; index as i;">
                <div class="row">
                    <!-- Columna de usuarios -->
                    <ul class=" list-group text-justify">
                        <div class="ml-5">{{ usuariosarr[i].nombre }}</div>
                    </ul>
                    <!-- Columna de acciones -->
                    <div class="col text-right">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <button class=" ml-1 btn btn-warning" (click)="editarusuario(usuariosarr[i].id)">
                                    <fa-icon [icon]="faEdit"></fa-icon>
                                </button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" *ngIf="((!usuariosarr[i].super) && tamu > 4)" (click)="const = i">
                                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- Derecha -->
    <div class="mt-2 ml-5 text-center row-cols col-5">
        <!-- Nuevo usuario -->
        <button class="btn btn-success mt-3" (click)="nuevousuario()">Agregar usuario</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                ¿Seguro que quieres borrar este usuario?
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-danger" (click)="delusuario(usuariosarr[const].id)"> Sí, estoy seguro </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No estoy seguro</button>
            </div>
        </div>
    </div>
</div>