<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Titulo: Usuarios -->
<div class="container-fluid border-bottom border-secondary mt-2">
    <h2 align="center">Usuarios</h2>
</div>
<!-- Mensaje de alerta no menos de 4 usuarios-->

<!-- Lista de usuarios -->
<div class="container row">
    <div class="mt-4 text-center row-cols col-5">
        <form action="" class="form-inline text-center">
            <input class="form-control mr-sm-2" (keyup)="ngOnInit(Bus.value)" type="search" maxlength="15" #Bus placeholder="Buscar">
            <button class="btn btn-outline-secondary my-2 my-sm-0 mr-sm-2" type="submit">Buscar</button>
            <button class="btn btn-success" (click)="nuevousuario()">Agregar usuario</button>
        </form>
        <br>
        <div class=" text-center">

        </div>
    </div>
    <div class="container mt-4 col-6 text-left">
        <ul class="list-group">
            <!--Encabezado de la lista-->
            <li class="list-group-item bg-secondary">
                <div class="row ">
                    <!-- Columna de integrantes -->
                    <div class="col pl-2 text-center">Nombre</div>
                    <!-- Columna de recetas -->
                    <div class="col pl-2 text-center">Acciones</div>
                </div>
            </li>
            <div class="alert alert-danger" role="alert" *ngIf="(usuariosarr.length <= 0)">
                No se encontraron coincidencias
            </div>
            <!-- Cuerpo de la lista -->
            <li class="list-group-item" *ngFor="let equipo of usuariosarr; index as i;">
                <div class="row">
                    <!-- Columna de usuarios -->
                    <ul class=" list-group text-justify">
                        <div class="ml-5">{{ usuariosarr[i].nombre }}</div>
                    </ul>
                    <!-- Columna de acciones -->
                    <div class="col text-right">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <button class="btn btn-danger" *ngIf="((!usuariosarr[i].super) && usuariosarr.length > 4) " (click)="delusuario(usuariosarr[i].id)"> borrar </button>
                                <button class=" ml-1 btn btn-warning" (click)="editarusuario(usuariosarr[i].id)"> Editar </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>