<!-- Mensajes -->
<div class="alert alert-danger" role="alert" *ngIf="mensajeError">
    Usuario o contraseña incorrectas.
</div>

<!-- Cuerpo de la pagina -->
<div class="content p-lg-5">
    <br /><br />
    <div class="mt-1 container border col-lg-4 bg-white pb-2">
        <br />
        <div class="container p-4 text-center">
            <img src="/assets/img/logo.png" class="p-2 img-fluid" />
            <form [formGroup]="LoginForm" class="text-center" (ngSubmit)="singup(nombre.value, pass.value)">
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" formControlName="usuario" class="form-control" maxlength="15" required #nombre/>
                    <div class="alert-danger" *ngIf="usuario.errors && (usuario.dirty || usuario.touched)">
                        <div class="container-fluid" *ngIf="usuario.errors.required">
                            Nombre de usuario requerido
                        </div>
                        <div class="container-fluid" *ngIf="usuario.errors.minlength">
                            Al menos 4 caracteres de longitud
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <div class="input-group">
                        <input #x type="password" class="form-control" formControlName="password" maxlength="15" id="password" required #pass />
                        <div class="input-group-append c-pointer" (click)="x.type = x.type == 'password' ? 'text' : 'password'">
                            <span class="input-group-text">
                  <i class="fa faEyeSlash"></i>
                </span>
                        </div>
                    </div>
                    <div class="alert-danger" *ngIf="password.errors && (password.dirty || password.touched)">
                        <div class="container-fluid" *ngIf="password.errors.required">
                            Contraseña requerida
                        </div>
                        <div class="container-fluid" *ngIf="password.errors.minlength">
                            Al menos 8 caracteres de longitud
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Iniciar Sesion
                </button>
            </form>
        </div>
    </div>
</div>