<div class="container app">
    <button type="button" class="btn btn-primary" (click)="regreso()">Regresar A Home</button>
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center"> 
                Nueva Receta
            </h1>
        </div>
    </div>

    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="camposFaltantes">
        <strong>Campos Faltantes</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="camposFaltantes = false">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="row">
        <div class="col mx-auto">
            

            <div class="form-group">
                <label for="name" class="control-label-sm-3">
                    Nombre:
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Nombre De Receta" [(ngModel)]="nombre">
                </div>
            </div>

            <div class="form-group">
                <div class="col">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                            {{mensajeCat}}
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let categoria of categorias; index as i">
                                <button type="button" class="btn" (click)="selecCategoria(i)">{{categoria}}</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group mt-4">
                <label for="position" class="control-label-sm-2">
                    Ingredientes:
                </label>
                <button class="btn btn-success ml-3" (click)="nuevoIng()">Agregar</button>
            </div>

            <div class="row">

                <div class="form-group">
                    <div class="col mt-3" *ngFor="let ingrediente of ingredientes; index as i">
                        <input type="text" class="form-control" name="name.{{id}}.ing" placeholder="Nuevo ingrediente" [(ngModel)]="ing[i]">
                    </div>
                </div>
                
                <div class="form-group">
                    <div *ngFor="let ingrediente2 of ingredientes2; index as i">
                        <div class="form-inline mt-3 w-2">
                            <input type="number" class="form-control" min="0" name="name.{{i}}.cant" OnlyNumber="true" onkeydown="return false" placeholder="Cant." [(ngModel)]="ing2[i]">

                            <div class="form-group">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                        {{mensajeUni[i]}}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li *ngFor="let unidad of unidades">
                                            <button type="button" class="btn" (click)="selecUnidades(i, unidad)">{{unidad}}</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>     
                
                <div class="row">
                    <div class="col-md-5">
                        
                        <button type="button" class="btn btn-danger" (click)="quitarIng()">Retirar</button>
                    </div>
                    <div class="col-md-5">
                        <button type="button" class="btn btn-info" (click)="guardar()">Guardar</button>
                        
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

