<!-- Titulo: Editar usuario -->
<div class="container-fluid border-bottom border-secondary mt-2">
    <h2 align="center">Edición de usuario</h2>
</div>
<!-- Boton de retorno -->
<div class="container-fluid mt-3 ml-3">
    <button type="button" class="btn btn-secondary" (click)="linkBack()">Regresar</button>
</div>



<div class="content p-lg-5">
    <br /><br />
    <div class="container border col-lg-6 bg-white pb-2">
        <br />
        <div class="container text-center">

            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="mensajeUpdate">
                <strong>No Se Pudo Actualizar Usuario</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mensajeUpdate = false">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="mensajeInv">
                <strong>Campo Inválido</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="mensajeInv = false">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form [formGroup]="RegistroForm" class="text-center" (ngSubmit)="update(nombre.value, pass.value, copass.value)">
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" formControlName="usuario" maxlength="15" class="form-control" required #nombre />
                    <div class="alert-danger" *ngIf="usuario.errors && (usuario.dirty || usuario.touched)">
                        <div class="container-fluid" *ngIf="usuario.errors.required">
                            Nombre de usuario requerido
                        </div>
                        <div class="container-fluid" *ngIf="usuario.errors.minlength">
                            Al menos 4 carácteres de longitud
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Nueva contraseña</label>
                    <div class="input-group">
                        <input type="password" class="form-control" maxlength="15" formControlName="password" required #pass />

                    </div>
                    <div class="alert-danger" *ngIf="password.errors && (password.dirty || password.touched)">
                        <div class="container-fluid" *ngIf="password.errors.required">
                            Contraseña requerida
                        </div>
                        <div class="container-fluid" *ngIf="password.errors.minlength">
                            Al menos 8 carácteres de longitud
                        </div>
                        <div *ngIf="password.errors.pattern">
                            La contraseña debe contener al menos 8 carácteres, una letra mayúscula y un número
                        </div>
                    </div>

                    <label for="password">Confirmar contraseña</label>
                    <div class="input-group">
                        <input type="password" class="form-control" maxlength="15" formControlName="copassword" required #copass />

                    </div>
                    <div class="alert-danger" *ngIf="copassword.errors && (copassword.dirty || copassword.touched)">
                        <div class="container-fluid" *ngIf="copassword.errors.required">
                            Confirmación de contraseña requerida
                        </div>
                        <div class="container-fluid" *ngIf="copassword.errors.minlength">
                            Al menos 8 carácteres de longitud
                        </div>
                        <div class="container-fluid" *ngIf="copassword.errors.checkPasswords">
                            Las contraseñas deben coincidir
                        </div>
                    </div>


                </div>
                <button type="submit" class="btn btn-primary btn-block">
            Registrar
          </button>
            </form>
        </div>
    </div>
</div>
<!--routerLink="/edita-usuario/{{ u.id }}"-->