<!-- Navbar -->
<app-navbar></app-navbar>
<!-- Titulo: Recetas -->
<div class="container-fluid border-bottom border-secondary mt-2">
    <h2 align="center">Recetas</h2>
</div>


<!-- Encabezado -->
<div class="container-fluid ancho">
    <!-- Buscador -->
    <div class="col-auto mt-3">
        <form action="" class="form-inline text-center">
            <input class="form-control w-50" onkeypress="return (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122)  || (event.charCode === 32) || (event.charCode === 209)|| (event.charCode === 241)" (keyup)="buscador(texto.value)"
                type="search" maxlength="15" placeholder="Buscar" #texto>
            <button class="btn btn-outline-secondary ml-2 my-2 my-sm-0 mr-sm-2" type="submit">Buscar</button>
        </form>
    </div>
</div>

<!-- Cuerpo de la pagina -->
<div class="container">
    <div class="row">
        <!-- izquierda -->
        <div class="col-auto">
            <!-- Lista de recetas -->
            <div class="container-fluid mt-4" *ngIf="!mensajeNoHayCoincidencias">
                <ul class="list-group">
                    <!--Encabezado de la lista-->
                    <li class="list-group-item bg-secondary">
                        <div class="row ">
                            <!-- Columna de recetas -->
                            <div class="col ml-3">Nombre</div>
                            <!-- Columna de acciones -->
                            <div class="col ml-3">Acciones</div>
                        </div>
                    </li>
                    <!-- Cuerpo de la lista -->
                    <li class="list-group-item" *ngFor="let receta of recetasArr; index as i;">
                        <div class="row">
                            <!-- Columna de recetas -->
                            <ul class=" col list-group">
                                <div class="ml-3">{{receta.nombre}}</div>
                            </ul>
                            <!-- Columna de acciones -->
                            <div class="col">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <!-- Boton de informacion -->
                                            <button type="button" class="btn btn-md btn-info mr-2" (click)="obtenerListaDeIngredientes(i)">
                                                <fa-icon [icon]="faInfo"></fa-icon>
                                            </button>
                                            <!-- Boton de eliminar -->
                                            <button type="button" class="btn btn-md btn-danger" *ngIf="IS_SUPER && !receta.activo" data-toggle="modal" data-target="#exampleModal" (click)="const = i">
                                                <fa-icon [icon]="faTrashAlt"></fa-icon>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Derecha -->
        <div class="col my-3 mx-auto" *ngIf="!mensajeNoHayCoincidencias">
            <!-- Etiqueta de ingredientes -->
            <h4 class="mt-4 ml-3" *ngIf="ingrArr.length > 0">Ingredientes</h4>
            <!-- Recuadro de ingredientes -->
            <div class="container" *ngIf="ingrArr.length > 0">
                <!-- Lista de ingredientes de la receta seleccionada -->
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ingrediente of ingrArr; index as j">
                        <div class="row row-cols-2">
                            <!-- Columna de numero -->
                            <div class="col-2">{{j+1}}.-</div>
                            <!-- Columna de ingrediente -->
                            <div class="col-auto">{{ingrediente}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Sin coincidencias -->
<div class="container" *ngIf="mensajeNoHayCoincidencias">
    <!-- Alerta -->
    <div class="alert alert-danger mt-3" role="alert">
        No hay coincidencias.
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres borrar esta receta?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No Estoy Seguro</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="borrarReceta(const)">Estoy Seguro</button>
        </div>
      </div>
    </div>
  </div>